$yellow : #ffe600;

.flex{
    display: flex;

}

 header {
    background-color : $yellow;
    
    display: flex;
}

 .Container{
    width: 1200px;
    margin: 0 auto;
    display: inherit;
    height: inherit;
    justify-content:  inherit;
    align-items: inherit;
    flex-wrap: inherit;
}

.menu{
 background-color: $yellow;
 width: 1200px;
 height: 92px;
 display: flex;
}

.logo {
    height: 100px;
    width: 130px;
    margin:  0px 30px;

    }

.Container-search{
    width: 770px;
    height: 45px;
    margin:  25px;
}

.search { 
    padding: 8px 50px;
    height: 24px;
    width: 598px;
    border: 0px;
    outline: none
}

.buttonsearch{
    height: 40px;
    padding: 10px;
    cursor: pointer;
    background-color: honeydew;
    //  border: 0px;
}


.searchimage{
    padding: 8px 50px;
    width:22px;
    height:2px;
}

